- if "#{controller.action_name}" == "edit"
  - @action = "update/#{params[:id]}"
- else
  - @action = "create"
  
- form_for(:calendar, :url => "/admin/calendars/#{@action}") do |f|
  = f.error_messages

  %p
    = f.label :event
    %br
    = f.text_field :event
  %p
    = f.label :description
    %br
    = f.text_area :description
  %p
    = f.label :start_date
    %br
    = f.text_field :start_date, :class => "date-pick"
  %p
    = f.label :start_time
    %br
    = f.time_select :start_time, { :twelve_hour => true }
  %p
    = f.label :end_date
    %br
    = f.text_field :end_date, :class => "date-pick"
  %p
    = f.label :end_time
    %br
    = f.time_select :end_time, { :twelve_hour => true }

  %h2
    Assign this event to one or more Categories
  %ul.category-list
    - for category in Category.all
      %li
        = check_box_tag "calendar[category_ids][]", category.id, @calendar.categories.include?(category)
        = h titleify(category.name)
  
  %p
    = save_model_button(@calendar)
    or
    = link_to 'Cancel', "/admin/calendars/index"
      