= @ical

%h1.event-show
  = h @calendar.event
  
%p
  %strong
    Description:
  = @calendar.description
%p
  %strong
    Start:
  = h @calendar.start_date.strftime("%B %d, %Y")
  = h @calendar.start_time.strftime("%I:%M %p")
  
%p
  %strong
    End:
  = h @calendar.end_date.strftime("%B %d, %Y")
  = h @calendar.end_time.strftime("%I:%M %p")
  
%p  
  %strong
    Event Categories
  %ul.category-list
    - for category in @calendar.categories
      %li
        = h titleify(category.name)
        
#ical_export
  = link_to "Export Event", "/event/#{@calendar.id}"

.clear
    
%p
  = link_to('Edit', "/admin/calendars/edit/#{@calendar.id}", :rel => 'facebox') + " | " + link_to('Delete', "/admin/calendars/destroy/#{@calendar.id}", :confirm => 'Are you sure?',  :method => :delete)