= render '/calendars/category_filter'

- content_for :calendar_list do

  = render '/calendars/calendar_heading'
  
  - if @events.empty?
    #calendar-content.no-events
      %p
        %strong
          Sorry, there are no events that match your search criteria
          
  - @daily_events.sort.each do |start_date, events|
    
    - mydate = DateTime.strptime("#{params[:id]}T00:00:00+00:00")
    
    #event-headline
      .event-day
        = h start_date.strftime("%a").upcase

      .event-date
        = h start_date.strftime("%B %d").upcase
        
        - for event in events
          - if event.end_date.strftime("%B %d") > event.start_date.strftime("%B %d")
            thru
            = event.end_date.strftime("%B %d").upcase
    
    .clear 
    
    - for event in events
      #calendar-content
        %h1.event
          = link_to event.event.upcase, "/calendars/#{event.id}", :rel => 'facebox'

        .clear

        %p
          = event.description

      - if events.empty?
        %strong
          There are no events