= @ical

%h1.event-show
  = h @calendar.event
  
%p
  %strong
    Description:
  = @calendar.description
%p
  %strong
    Start:
  = h @calendar.start_date.strftime("%B %d, %Y %I:%M %p")
  
%p
  %strong
    End:
  = h @calendar.end_date.strftime("%B %d, %Y %I:%M %p")

%p  
  %strong
    Event Categories
  %ul.category-list
    - for category in @calendar.categories
      %li
        = category.name
        
#ical_export
  = link_to "Export Event", "/event/#{@calendar.id}"