- include_stylesheet 'calendar-admin'

%h1 Event Categories
%table#categories
  %tr
    %th
      Name
  - @categories.each do |category|
    %tr
      %td
        = h titleify(category.name)
      %td
        = link_to 'Edit', "/admin/categories/edit/#{category.id}"
        |
        = link_to 'Destroy', "/admin/categories/destroy/#{category.id}", :confirm => 'Are you sure?', :method => :delete